fastapi~=0.115.12
uvicorn~=0.34.2
celery[redis]~=5.5.2
opentelemetry-exporter-otlp-proto-http~=1.33.1
opentelemetry-sdk~=1.33.1
opentelemetry-api~=1.33.1
opentelemetry-instrumentation-fastapi~=0.54b1
opentelemetry-instrumentation-celery~=0.54b1
opentelemetry-instrumentation-logging~=0.54b1
